<div class="flex h-0 pl-3 md:h-8 md:pl-7 lg:h-8 lg:pl-7">
    <img alt=<%= params.database.settings.name ? params.database.settings.name.toUpperCase() : "DICK" %> class="w-6" src=<%= params.database.settings.logo ? params.database.settings.logo : "./images/dick-logo.png" %>>
    <span class="text-white ml-3 hidden text-lg font-medium md:block lg:block"><%= params.database.settings.name ? params.database.settings.name.toUpperCase() : "DICK" %></span>
</div>