<div class="traMove order-4 flex-1 basis-1/3 -translate-y-32 shadow-2xl border-b border-gray-300/25 transition duration-300 sm:basis-1/2 md:order-3 md:basis-1/6 md:-translate-y-0 md:border-t md:border-r lg:border-r lg:order-3 lg:basis-1/6 lg:-translate-y-0 lg:border-t">
    <div class="flex h-16 flex-row flex-nowrap items-center justify-end pr-3 md:pr-7 lg:pr-7">
        <div class="flex-none">
            <div class="flex flex-row flex-nowrap items-center space-x-6">
                <!-- Theme Toggler -->
                <button id="theme-toggle" data-tooltip-target="themeTogglerToolTip" type="button"
                    class="relative text-gray-400 hover:bg-gray-800 dark:hover:bg-gray-300 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5">
                    <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                    </svg>
                    <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                            fill-rule="evenodd" clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div id="themeTogglerToolTip" role="tooltip"
                    class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip">
                    Toggle theme
                    <div class="tooltip-arrow" data-popper-arrow></div>
                </div>
                <!-- End Theme Toggler -->

                <!-- Navbar Profile Image -->
                <div class="dropdownProfileBtn relative z-[100] cursor-pointer hover:scale-110">
                    <img class="relative h-10 w-10 rounded-full object-cover object-center" src=<%= params.database.settings.defaultProfilePicture ? params.database.settings.defaultProfilePicture : "./images/profile.png" %>
                        alt="Profile" />
                </div>
                <!-- End Navbar Profile Image -->
            </div>
        </div>
    </div>
</div>