lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

# Constants
src/CONSTANTS.ts

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built files
dist/**/*

package-lock.json