lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
assets/

pids
logs
results
tmp

# Constants & Database
src/constants
src/constants.ts

# Dependency directory
node_modules

# OS metadata
.DS_Store
Thumbs.db

# Ignore built files
dist/**/*

package-lock.json
yarn.lock

