<%- include("./partials/head") %>
	<section class="bg-primary"> 
    	<div class="flex flex-col items-center justify-center min-h-screen p-6">
    		<!-- Page Content -->
      		<% if(path == '/login'){ %> <%- include("../pages/public/login") %> <% } %>

      		<% if(settingsDatabase.registrationEnabled) { %>
        		<% if(path == '/register'){ %> <%- include("../pages/public/register") %> <% } %> 
      		<% } %>
      		<!-- /Page Content -->
    	</div>
	</section>
<%- include("./partials/footer") %>
