<div class="flex-1 basis-full space-y-3 md:basis-2/3 lg:basis-3/4">
    <p class="text-orange-700 dark:text-orange-400">This tab is coming to a <%= params.database.settings.name ? params.database.settings.name.toUpperCase() : "DICK" %> near you soon </p>
</div>