<div class="flex flex-col-reverse flex-wrap justify-between lg:flex-row lg:flex-nowrap">
    <div class="-mt-0 lg:-mt-5">
        <!-- Content Search Bar -->
        <form action="#" class="relative mt-3 h-auto w-auto lg:mt-0">
            <input
                class="bg-tertiary relative z-10 w-full rounded-md px-12 py-2 text-color-primary shadow-lg placeholder:text-color-secondary focus:border focus:border-gray-300/25 focus:outline-none md:w-full lg:w-auto"
                value="" placeholder="Search Files" />
            <div class="absolute inset-0 flex flex-row flex-nowrap items-center justify-between px-4">
                <svg class="z-20 flex-none text-color-secondary" xmlns="http://www.w3.org/2000/svg" width="20"
                    height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <svg class="dropdownSearchBtn z-20 flex-none cursor-pointer text-color-secondary"
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="6 9 12 15 18 9"></polyline>
                </svg>
            </div>
        </form>
        <!-- End Content Search Bar -->

        <!-- Content Search Bar Dropdown -->
        <form action=""
            class="dropdownSearch duration-250 bg-tertiary invisible absolute z-10 mt-2 h-auto w-10/12 translate-y-6 rounded-lg p-6 opacity-0 shadow-lg transition ease-linear md:w-auto lg:w-auto">
            <!-- Content Search Bar Dropdown Input -->
            <div class="grid grid-cols-1 gap-5 text-sm md:grid-cols-1 md:text-base lg:grid-cols-2 lg:text-base">
                <div>
                    <label class="mb-2 block text-color-primary">File Name (Fuzzy Search)</label>
                    <input
                        class="bg-primary block w-full rounded-md py-2 px-2 text-color-primary placeholder:text-color-secondary focus:outline-none focus:ring focus:ring-gray-300/20"
                        value="" placeholder="nudes" />
                </div>
                <div>
                    <label class="mb-2 block text-color-primary">Extension</label>
                    <input
                        class="bg-primary block w-full rounded-md py-2 px-2 text-color-primary placeholder:text-color-secondary focus:outline-none focus:ring focus:ring-gray-300/20"
                        value="" placeholder="png" />
                </div>
                <div>
                    <label class="mb-2 block text-color-primary">Created At</label>
                    <input
                        class="bg-primary block w-full rounded-md py-2 px-2 text-color-primary placeholder:text-color-secondary focus:outline-none focus:ring focus:ring-gray-300/20"
                        value="" placeholder="Make/get a date picker for this slot + extend it to full width" />
                </div>
            </div>
            <!-- End Content Search Bar Dropdown Input -->

            <!-- Content Search Bar Dropdown Button -->
            <div
                class="mt-6 flex items-center justify-end space-x-2 text-sm text-color-primary md:text-base lg:text-base">
                <button class="rounded-md bg-blue-700 px-5 py-2 hover:bg-blue-600">
                    Search
                </button>
            </div>
            <!-- Content Search Bar Dropdown Button -->
        </form>
        <!-- Content Search Bar Dropdown -->
    </div>

    <div class="-mt-0 lg:-mt-5">
        <div class="flex flex-row flex-nowrap items-center space-x-2">
            <!-- Content Upload Form -->
            <form action="">
                <button id="showFile"
                    class="rounded-md bg-blue-700 py-2 px-2.5 font-medium text-color-primary hover:bg-blue-600">
                    Upload New File
                </button>
                <input id="showFile" type="File" class="hidden" />
            </form>
            <!-- End Content Upload Form -->
        </div>
    </div>
</div>