<head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="The frontend for your backend" />
      <meta name="keywords" content="your, keywords" />
      <meta name="author" content="Facinorous-420" />
  
      <meta property="og:description" content="DICK, the frontend for your ASS" />
      <meta property="og:url" content="https://github.com/facinorous-420/dick" />
      <meta property="og:site_name" content="DICK (Directly Integrated Client for Keisters)" />
      <meta property="og:image" content="/images/dick-logo.png" />
  
      <!--meta twitter-->
      <meta name="twitter:card" content="summary" />
      <meta property="twitter:image" content="/images/dick-logo.png" />
      <meta property="twitter:title" content="DICK (Directly Integrated Client for Keisters)" />
      <meta property="twitter:description" content="DICK, the frontend for your ASS" />
      <!-- end meta twitter-->
  
      <title>DICK (Directly Intregrated Client for Keisters)</title>
  
      <link rel="stylesheet" href="/css/app.css">
      <script src="/js/theme/theme-set.js"></script>
      <link rel="icon" type="image/png" href="/images/dick-logo.png">
</head>
